block mobile-menu

div.mobile-menu
        a(href="#").mobile-menu__item.mobile-menu__item_first
            span Компаниям
        a(href="#").mobile-menu__item.mobile-menu__item_second
            span Соискателям
        a(href="#").mobile-menu__item.mobile-menu__item_third
            span Вакансии
        div.links

            //a(href="#").mobile-menu__item.mobile-menu__item_fourth.img-wrapper.inst.nav__item-rounded.nav__item_white
                img(src="assets/img/nav/inst.svg").img-wrapper__img
            //a(href="#").mobile-menu__item.mobile-menu__item_fifth.img-wrapper.mail.nav__item-rounded.nav__item_white
                img(src="assets/img/nav/at.svg").img-wrapper__img
                
            span.mobile-menu__item.mobile-menu__item_sixth.number.nav__item-rounded.nav__item_white +7 (905) 464 37 23