@font-face {
  font-family: "DM Sans Medium";
  src: url("../fonts/DM_Sans/DMSans-Medium.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "DM Sans Regular";
  src: url("../fonts/DM_Sans/DMSans-Regular.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "DM Sans Bold";
  src: url("../fonts/DM_Sans/DMSans-Bold.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("opentype");
  font-display: swap;
}
